{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block styles %}
  <link rel="stylesheet" href="styles/create-point.css">
{% endblock %}

{% block content %}
  {% include "partials/page-header.html" %}

  <form action="/savepoint" method="POST">
    <h1>
      Collect point register
    </h1>

    <fieldset>
      <legend>
        <h2>Entity data</h2>
      </legend>

      <div class="field-group">
        <div class="field">
          <label for="name">Entity name</label>
          <input type="text" name="name" required>
        </div>

        <div class="field">
          <label for="name">Entity image</label>
          <input type="url" name="image" placeholder="Start with http://" required>
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <label for="address">Address</label>
          <input type="text" name="address" required>
        </div>
        <div class="field">
          <label for="address2">Number/Complement</label>
          <input type="text" name="address2" required>
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <label for="uf">State</label>
          <select name="uf" required>
            <option value="">Choose your state</option>
          </select>

          <input type="hidden" name="state">
        </div>
        <div class="field">
          <label for="city">City</label>
          <select name="city" disabled required>
            <option value="">Choose your city</option>
          </select>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <div class="collect-items-header">
        <legend>
          <h2>Collect items</h2>
        </legend>
        <span>Pick one or more items bellow</span>
      </div>

      <div class="collect-items">
        <button type="button" data-id="Lamps">
          <img src="./assets/images/lamps.svg" alt="Lamps" />
          <span>Lamps</span>
        </button>
        <button type="button" data-id="Battery">
          <img src="./assets/images/battery.svg" alt="Battery" />
          <span>Battery</span>
        </button>
        <button type="button" data-id="Papers and Cardboard">
          <img src="./assets/images/papers.svg" alt="Papers" />
          <span>Papers and Cardboard</span>
        </button>
        <button type="button" data-id="Electronic waste">
          <img src="./assets/images/electronic.svg" alt="Electronic waste" />
          <span>Electronic waste</span>
        </button>
        <button type="button" data-id="Organic waste">
          <img src="./assets/images/organic.svg" alt="Organic waste" />
          <span>Organic waste</span>
        </button>
        <button type="button" data-id="Kitchen oil">
          <img src="./assets//images/oil.svg" alt="Kitchen oil" />
          <span>Kitchen oil</span>
        </button>

        <input type="hidden" name="items">
      </div>
    </fieldset>

    <div class="register-button-container">
      <button type="submit">
        Register collect point
      </button>
    </div>

  </form>
{% endblock content %}

{% block scripts %}
  <script src="./scripts/create-point.js"></script>

{% endblock %}