#page-create-point {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.1px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.88rem;
}

#logoIcon {
  transition: 0.2s;
}

#logoIcon:hover {
  opacity: 0.85;
}

#logoIcon img {
  width: 11.3rem;
  height: 2.75rem;
}

#headerRight {
  display: flex;
  align-items: center;
  color: var(--title);
  font-weight: 700;
  font-size: 1rem;

  transition: 0.2s;
}

#headerRight:hover {
  opacity: 0.85;
}

#headerRight img {
  margin-right: 0.75rem;
  width: 1.25rem;
  height: 1.25rem;
}

form {
  max-width: 736px;
  margin: 4.75rem auto 7.5rem;
  background: white;
  border-radius: 0.5rem;

  padding: 4rem;
}

form h1 {
  font-size: 2.25rem;
  line-height: 2.6rem;
}

form fieldset {
  margin-top: 4rem;
  border: none;
}

form fieldset legend h2 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: var(--title);
}

form label {
  display: block;
  font: 400 0.875rem 'Roboto', sans-serif;
  color: #6C6C80;
  margin-bottom: 0.5rem;
}

form input,
form select {
  height: 3.5rem;
  background: #F0F0F5;
  border-radius: 0.5rem;
  border: none;
  width: 100%;

  color: var(--text);
  padding: 0 1.5rem;
}

form input::placeholder {
  color: var(--text);
  font-size: 0.87rem;
}

.field-group {
  display: flex;
  margin-top: 1.5rem;
}

fieldset > .field {
  margin-top: 2.6rem;
}

.field {
  width: 100%;
}

.field-group .field:first-child {
  margin-right: 1.5rem;
}


form fieldset .collect-items-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.6rem;
}

form fieldset .collect-items-header span {
  font: 400 0.875rem 'Roboto', sans-serif;
  color: var(--text);
}

form fieldset .collect-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

form .collect-items button {
  height: 11.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--light-green);
  border: 2px solid var(--light-green);
  border-radius: 0.5rem;
  padding-top: 2rem;

  transition: filter 0.2s;
}

form button:not(.selected):hover {
  filter: brightness(0.9);
}

form .collect-items button img {
  width: 4rem;
  height: 4rem;
}

form .collect-items button span {
  color: var(--title);
  max-width: 120px;
  display: flex;
  flex: 1;
  align-items: center;
}

form button.selected {
  background: linear-gradient(to top, #E1FAEC, #FFFFFF);
  border: 2px solid var(--green);
}


.register-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 4rem;
}

.register-button-container button {
  background: var(--green);
  color: white;
  width: 16.63rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  
  transition: filter 0.2s;
}

