#pageHome {
  height: 100%;
  /* background: url("/assets/images/background.svg") no-repeat;

  background-position: 95% 75%;
  background-size: 29.3rem 32rem; */
}

#container {
  width: 90%; 
  max-width: 1100px;
  margin: 0 auto; 

  display: flex;
  flex-direction: column;
  height: 100%;
}

#pageHome header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.88rem;
}

#logoIcon {
  transition: 0.2s;
}

#logoIcon:hover {
  opacity: 0.85;
}

#logoIcon img {
  width: 11.3rem;
  height: 2.75rem;
}

#headerRight {
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--title);

  transition: 0.2s;
}

#headerRight:hover {
  opacity: 0.85;
}

#headerRight img {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

main .hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: 560px;
}

main h1 {
  font-size: 3.38rem;
  line-height: 4rem;
}

main p {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: var(--text);
  margin: 1.5rem 0 2.5rem;
}

main button {
  font-weight: bold;
  color: #FFFFFF;
  background: var(--green);
  border: none;
  border-radius: 0.5rem;
  width: 19.5rem;
  height: 4rem;

  display: flex;
  align-items: center;

  transition: 0.3s;
}

main button:hover {
  filter: brightness(0.8);
}

main button span {
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem 0 0 0.5rem;
  background: #2FB86E;
  display: inline-block;

  display: flex;
  align-items: center;
  justify-content: center;
}

main button span::after {
  content: '';
  background: url("/assets/images/search.svg");
  width: 1.5rem;
  height: 1.5rem;

  background-size: 1.5rem 1.5rem;
}

main button strong {
  flex: 1;
  text-align: center;
}

main .hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .hero-image img {
  width: 80%;
}
