:root {
  --title: #322153;
  --text: #6C6C80;
  --green: #34CB79;
  --light-green: #E1FAEC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 840px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 75%;
  }
}


body {
  background: #E5E5E5;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

body, button, textarea, input {
  font: 400 1rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--title);
}