:root {
  --title: #322153;
  --text: #6C6C80;
  --green: #34CB79;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #E5E5E5;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

body, button, textarea, input {
  font: 400 1rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--title);
}